@import url(./__list/menu__list.css);
@import url(./__item/menu__item.css);
@import url(./__item/_margin/menu__item_margin_bottom.css);
@import url(./__link/menu__link.css);

.menu {
    font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 760px) {
    .menu {
        font-size: 24px;
        line-height: 24px;
    }
}